{% extends 'app/base.html' %}
{% block title %} insider {% endblock %}
{% block breadcrumb %}
<li><a href="{% url 'app:index' %}">Акции</a> <span class="divider">/</span></li>
<li><a href="{% url 'app:ticker' tick=tick %}">{{ tick }}</a><span class="divider">/</span></li>
<li class="active">insider</li>
{% endblock %}
{% block header %}{{ tick }}{% endblock %}
{% block content %}

<table class="table">
    <tr>
        <th>Name</th>
        <th>Relation</th>
        <th>Date</th>
        <th>Transaction type</th>
        <th>Owner type</th>
        <th>Shares traded</th>
        <th>Last price</th>
        <th>Shares head</th>
    </tr>
    {% for instrade in instrade_qs %}
    <tr>
        <td>
            <a href='{% url 'app:insider_trade' tick=instrade.company.company_code name=instrade.insider.name %}'>
            {{ instrade.insider.name }}
            </a>
        </td>
        <td>{{ instrade.relation }}</td>
        <td>{{ instrade.date }}</td>
        <td>{{ instrade.transaction_type }}</td>
        <td>{{ instrade.owner_type }}</td>
        <td>{{ instrade.shares_traded }}</td>
        <td>{{ instrade.last_price }}</td>
        <td>{{ instrade.shares_head }}</td>
    </tr>
    {% endfor %}
</table>

</div>

{% endblock %}
